{% extends '/back/base_back.html.twig' %}

{% block title %}Voir - Collaborateurs{% endblock %}

{% block main %}
    <h1>Les différents collaborateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Dernière connexion</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                <td>
                    <a role="button" class="btn btn-primary" href="{{ path('admin_user_show', {'id': user.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">Aucun collaborateur trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
